
button{
    background-color: skyblue;
    opacity: 0.90;
    font-size: 50px;
    &:hover{
        background-color:#002ead;
        transition: 0.7s;
    }
}

//Start Page Icons and Size Adjustments 
.modeSelect {
    height: auto; 
     width: auto; 
     max-width: 120px; 
     max-height: 220px;
 }

 