

$litTheme: url("../Assets/5f9c9999740569d1a4ca20a6.jpg");
$litFont: Times;
$litColor: brown;



$filmTheme: url("../Assets/old-cinematic-frame-transparent-overlay-mockup-blank-film-strip-vector-illustration_356415-1557.png");
$filmFont: Arial;
$filmColor: black;

