#scoreBox{
    display: none;
    background-color: aliceblue;
    border: 10px double;
    
    message{
        color: blue;
        font-size: 90px;
    }
    #score{
        font-size: 200px;
    }
    #scoreMessage{
        font-size: 200px;
    }
}

