*{
    outline: 1px solid red;
    }*
    body{
    margin: 0;
    text-align: center;
    color: rgb(23, 6, 6);
    background-color: rgb(242, 217, 217);
}
main{
    min-height: 10vh;
    min-width: 10vh;
    z-index: 3;
    color: white;
    background-color: rgb(113, 17, 17); 
}
#tallyBox{
    font-size: 40px;
}
#questionContainer{
    outline: 5px black;
    min-height: 60vh;
    flex-grow: 5;
    background-color: rgb(26, 4, 4);
    max-width: 60%;
    z-index: 3;
    font-size: 60px;
}
button{
    background-color: skyblue;
    opacity: ;
}

gameMode{
    /*display: flex;*/
    outline: 1px black;
    min-height: 30vh;
    max-width: 100%;
    z-index: 3;
    width: fit-content;
}
#startGamelit{
    height: 10vh;
    width: 80vh;
}
#startGamefilm{
    height: 10vh;
    width: 80vh;
}
.gameAnswers{
    display: block;
}
#gameAnswers1, #gameAnswers2,#gameAnswers3, #gameAnswers4, #gameAnswers5, #gameAnswers6,#gameAnswers7, #gameAnswers8, #gameAnswers9, #gameAnswers10{
    outline: 1px black;
    min-height: 30vh;
    max-width: 100%;
   display: none;
}

.Answer{
    min-height: 10vh;
    min-width: 80vh;
}
#scoreBox{
    display: none;
}
#tallyBox{
    display: none;
}
message{
    color: blue;
    font-size: 40px;
}
#score{
    font-size: 100px;
}
#Question{
    display: block;
}