/*{
    outline: 1px solid red;
    }*/

    #title{
        font-size: 100px;
    }

    body{
    margin: 0;
    text-align: center;
    /*color: rgb(23, 6, 6);
    background-color: rgb(242, 217, 217);*/
    /*background-image: url("Assets/5f9c9999740569d1a4ca20a6.jpg");*/
    background-color: #cccccc;
    padding: 5em;
    padding-top: 0%
}

#tallyBox{
    font-size: 40px;
}
#questionBox{
  border: 10px solid /*transparent*/;
  padding: 15px;
  width: 70%;
  height: 70%;
  padding: 15px;
  margin: auto;
  border-image: url() 300 round stretch;
  background-color: aliceblue;
}
#Question{
    font-size: 50px;
    background:none;
    block-size: fit-content;
    
}
button{
    background-color: skyblue;
    opacity: 0.90;
    font-size: 50px;
}

#gameMode{
    list-style: none;
    justify-content: space-evenly;
    
}
Literature{
    display: flex;
    flex-direction: column;
}
Film{
    display: flex;
    flex-direction: column;
}
.modeSelect {
    height: auto; 
    width: auto; 
    max-width: 120px; 
    max-height: 220px;
}

#startGamelit{
    height: 10vh;
    width: 80vh;
}
#startGamefilm{
    height: 10vh;
    width: 80vh;
}
.gameAnswers{
    display: block;
}
#gameAnswers1, #gameAnswers2,#gameAnswers3, #gameAnswers4, #gameAnswers5, #gameAnswers6,#gameAnswers7, #gameAnswers8, #gameAnswers9, #gameAnswers10{
    outline: 1px black;
    min-height: 30vh;
    max-width: 100%;
   display: none;
}

.Answer{
    min-height: 10vh;
    min-width: 80vh;
}
#scoreBox{
    display: none;
    background-color: aliceblue;
}
#tallyBox{
    display: none;
}
message{
    color: blue;
    font-size: 90px;
}
#score{
    font-size: 200px;
}
#scoreMessage{
    font-size: 200px;
}
#Question{
    display: block;
}
#scoreBox{
    background-color: aliceblue;
    border: 10px double;
}

#hintReveal{
    display: none;
    font-size: x-large;
}
hintMessage{
    font-size: x-large;
}
#videoHint{
    display: none;
   
}