body{
    margin: 0;
    text-align: center;
    color: rgb(23, 6, 6);
    background-color: rgb(242, 217, 217);
}
questionContainer{
    outline: 1px black;
    min-height: 60vh;
    flex-grow: 5;
    background-color: black;
    max-width: 60%;
    z-index: 3;
}
gameMode{
    outline: 1px black;
    min-height: 30vh;
    max-width: 100%;
    z-index: 3;
    display: block;
    
}
#startGamelit{
    height: 10vh;
    width: 80vh;
}
#startGamepop{
    height: 10vh;
    width: 80vh;
}
gameAnswers{
    display: block;
}
#gameAnswers1, #gameAnswers2,#gameAnswers3, #gameAnswers4, #gameAnswers5, #gameAnswers6,#gameAnswers7, #gameAnswers8, #gameAnswers9, #gameAnswers10{
    outline: 1px black;
    min-height: 30vh;
    max-width: 100%;
    z-index: 3;
   display: none;
}

.Answer{
    min-height: 10vh;
    min-width: 80vh;
}
#scoreBox{
    display: none;
}

#Question{
    display: block;
}